@import "variables";
// Backgrounds
.bg-whale {
  background-color: $color-bg-whale !important;

}

.bg-elephant {
  background-color: $color-bg-elephant !important;
}

.bg-horse {
  background-color: $color-bg-horse !important;
}

.bg-dog {
  background-color: $color-bg-dog !important;
}

.bg-elephant--trans {
  background-color: $color-bg-elephant--trans !important;
}

.bg-horse--trans {
  background-color: $color-bg-horse--trans !important;
}

.bg-dog--trans {
  background-color: $color-bg-dog--trans !important;
}

.bg-primary--lighter {
  background-color: $primary--lighter !important;
}

.bg-primary--darker {
  background-color: $primary--darker !important;
}

.bg-secondary--lighter {
  background-color: $secondary--lighter !important;
}

.bg-secondary--darker {
  background-color: $secondary--darker !important;
}

.bg-success--lighter {
  background-color: $success--lighter !important;
}

.bg-success--darker {
  background-color: $success--darker !important;
}

.bg-info--lighter {
  background-color: $info--lighter !important;
}

.bg-info--darker {
  background-color: $info--darker !important;
}

.bg-warning--lighter {
  background-color: $warning--lighter !important;
}

.bg-warning--darker {
  background-color: $warning--darker !important;
}

.bg-danger--lighter {
  background-color: $danger--darker !important;
}

.bg-danger--darker {
  background-color: $danger--lighter !important;
}

.bg-format-0 {
  background-color: $format;
}
.bg-format-200 {
  background-color: scale-color($format, $lightness: 80%);
}
.bg-format-400 {
  background-color: scale-color($format, $lightness: 60%);
}
.bg-format-600 {
  background-color: scale-color($format, $lightness: 40%);
}
.bg-format-800 {
  background-color: scale-color($format, $lightness: 20%);
}

.bg-country-0 {
  background-color: $country;
}
.bg-country-200 {
  background-color: scale-color($country, $lightness: 80%);
}
.bg-country-400 {
  background-color: scale-color($country, $lightness: 60%);
}
.bg-country-600 {
  background-color: scale-color($country, $lightness: 40%);
}
.bg-country-800 {
  background-color: scale-color($country, $lightness: 20%);
}

.bg-grade-0 {
  background-color: $grade;
}
.bg-grade-200 {
  background-color: scale-color($grade, $lightness: 80%);
}
.bg-grade-400 {
  background-color: scale-color($grade, $lightness: 60%);
}
.bg-grade-600 {
  background-color: scale-color($grade, $lightness: 40%);
}
.bg-grade-800 {
  background-color: scale-color($grade, $lightness: 20%);
}

.bg-publisher-0 {
  background-color: $publisher;
}
.bg-publisher-200 {
  background-color: scale-color($publisher, $lightness: -50%);
}
.bg-publisher-400 {
  background-color: scale-color($publisher, $lightness: -40%);
}
.bg-publisher-600 {
  background-color: scale-color($publisher, $lightness: -30%);
}
.bg-publisher-800 {
  background-color: scale-color($publisher, $lightness: -20%);
}

.bg-title-0 {
  background-color: $title;
}
.bg-title-200 {
  background-color: scale-color($title, $lightness: -50%);
}
.bg-title-400 {
  background-color: scale-color($title, $lightness: -40%);
}
.bg-title-600 {
  background-color: scale-color($title, $lightness: -30%);
}
.bg-title-800 {
  background-color: scale-color($title, $lightness: -20%);
}

.bg-marvelklubben-0 {
  background-color: $marvelklubben;
}
