// Imports
@import "variables";

// Buttons
.btn {
  @extend .lh-sm, .fw-bold;
  border-radius: $border-radius-sm;
  display: inline-flex;
  align-items: center;
  &.btn-cta {
    @extend .mb-4;
    padding: .8rem 2rem;
    border-radius: $border-radius-lg;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      padding: 1rem 3rem;
    }
    .btn-cta--icon {
      @extend .me-2, .me-sm-3, .align-self-center;
      font-size: 1.5rem;
    }
    &.btn-cta__lg {
      @extend .rounded-1, .flex-column;
      @include media-breakpoint-up(md) {
        display: inline-flex;
        margin-right: 2rem;
      }
      .btn-cta--icon {
        @extend .me-0, .mb-2, .align-self-center;
      }
    }
  }
  &.sms-btn {
    margin-bottom: 1rem;
    margin-right: 1rem;
    justify-content: center;
  }
}

.sms-icon-btn {
  @extend .m-1, .p-1;
  &:hover,
  &:active,
  &:focus {
    opacity: .9;
    border: 1px solid;
  }
}

.sms-tool-btn {
  @extend .mx-0, .my-1, .p-1;
  border: 1px solid;
  &:nth-child(2) {
    margin-left: .35rem !important;
  }
  &:hover,
  &:active,
  &:focus {
    opacity: .9;
    border: 1px solid $border-color;
  }
  &.no-hover {
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      border: 1px solid;
    }
  }
}

.sms-function-btn {
  @extend .btn, .px-2, .py-2;
  margin: 0 1rem 1rem 0;
  border: 1px solid;
  &:hover,
  &:active,
  &:focus {
    opacity: .9;
    border: 1px solid $border-color;
  }
}

.sms-btn-group {
  @extend .mb-3;
  .sms-function-btn {
  }
 }

.sms-grade-btn {
  @extend .btn, .rounded-1, .mb-2, .me-2, .text-grade-200, .bg-elephant;
  &.active {
    @extend .text-black;
    opacity: .9;
  }
  &:focus,
  &:hover,
  &:active {
    border: 1px solid $grade;
  }
  &.sk-grade {
    @extend .text-grade-600;
  }
}

.sms-link-to-top-button {
  @extend .btn, .btn-primary;
  aspect-ratio: 1/1;
  z-index: 1200;
  opacity: .6;
  position: fixed;
  bottom: 35px;
  right: 25px;
  border-radius: 50%;
  &:hover {
    opacity: 1;
  }
}

