// Imports
@import "variables";

// Buttons
.btn {
  @extend .lh-sm;
  border-radius: $border-radius-sm;
  display: inline-flex;
  align-items: center;
  &.btn-cta {
    padding: .8rem 2rem;
    border-radius: $border-radius-lg;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(sm) {
      padding: 1rem 3rem;
    }
    .btn-cta--icon {
      @extend .me-0, .me-sm-3, .align-self-center;
      font-size: 1.5rem;
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: auto;
      }
    }
  }
  &.sms-btn {
    margin-bottom: 1rem;
    margin-right: 1rem;
    justify-content: center;
  }
}

.sms-icon-btn {
  @extend .m-1, .p-1;
  &:hover,
  &:active,
  &:focus {
    opacity: .9;
    border: 1px solid;
  }
}

.sms-tool-btn {
  @extend .mx-0, .my-1, .p-1;
  border: 1px solid;
  &:nth-child(2) {
    margin-left: .35rem !important;
  }
  &:hover,
  &:active,
  &:focus {
    opacity: .9;
    border: 1px solid $border-color;
  }
  &.no-hover {
    &:hover,
    &:active,
    &:focus {
      opacity: 1;
      border: 1px solid;
    }
  }
}

.sms-function-btn {
  @extend .m-0, .px-2, .py-2;
  border: 1px solid;
  &:hover,
  &:active,
  &:focus {
    opacity: .9;
    border: 1px solid $border-color;
  }
}

.sms-grade-btn {
  @extend .btn, .rounded-pill, .mb-2, .me-2;
  &:hover,
  &:active,
  &:focus,
  &.active {
    opacity: .9;
    border: 1px solid $grade;
  }
}

.sms-link-to-top-button {
  @extend .btn, .btn-primary;
  aspect-ratio: 1/1;
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
}

