// Imports
@import "variables";
@import "./bootstrap/scss/variables";

// links
.nav-link {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: $primary;
  padding: .4rem .4rem;
  &.active {
    color: $primary--lighter;
  }
  &:hover, &:focus {
    color: $primary--lighter;
  }
  // Icons
  svg {
    width: 24px;
    margin-right: .5rem;
  }
}

.sms-hero-header {
  background: center / cover no-repeat url("../images/heroimage.jpg");
}

.sms-information-message {
  position: fixed;
  top: 4vh;
  left: 0;
  right: 0;
  width: 90vw;
  margin: 0 auto;
  -moz-box-shadow: $information-message-box-shadow;
  -webkit-box-shadow: $information-message-box-shadow;
  box-shadow: $information-message-box-shadow;
  z-index: 100;
}

// Content
.main-container {
  min-height: $main-content-min-height;
  h1, .h1 {
    margin-bottom: 3rem;
    @include media-breakpoint-up(sm) {
      margin-bottom: 1rem;
    }
  }
  .row-padding--main {
    @extend .p-3, .p-sm-5;
  }
  .row-padding--secondary {
    @extend .px-3, .px-sm-5;
  }
}

// Dashboard
.sms-dashboard-col {
  @extend .col-12, .col-xl-6;
  margin-bottom: $grid-gutter-width;
}

.sms-form {
  @extend .p-0, .p-sm-5, .h-100;
  border-radius: $border-radius--lg;
  background-color: transparent;
  @include media-breakpoint-up(sm) {
    background-color: $color-bg-horse;
  }
  .form-control, .form-select {
    border-bottom: 3px solid $gray-600;
    border-radius: 0;
    &:focus {
      border-bottom: 3px solid $primary;
    }
    &.success {
      border-bottom: 3px solid $success;
    }
    &.danger {
      border-bottom: 3px solid $danger;
    }
    &:disabled {
      opacity: .8;
    }
  }
  h2 {
    @extend .border-bottom, .pb-3, .mb-4, .h4;
  }
  .form-label {
    color: $white--darker;
    font-weight: 300;
  }
}

.dashboard-card {
  @extend .p-3, .p-sm-4, .h-100;
  background-color: $color-bg-horse;
  border-radius: $border-radius--lg;
  border: $border--default;
  p {
    font-size: .875rem;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  .list-group-item {
    color: $white--darker;
    padding: .5rem 0;
  }
}

@keyframes breadcrumb-item-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sms-page-col {
  @extend .col-12;
}

.sms-page-col--full {
  @extend .col-12, .col-lg-8;
}

// Breadcrumb
.breadcrumb-item {
  .animate {
    opacity: 1;
    animation-name: breadcrumb-item-animation;
    animation-duration: 1s;
  }
}

// List
.sms-list--with-tools {
  @extend .list-group, .list-group-flush, .small, .list-unstyled;
  .sms-list-col--main {
    @extend .col-8, .d-flex, .flex-column, .justify-content-center;
  }
  .sms-list-col--tools {
    @extend .col-4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

// Accordion
.accordion.sms-list--accordion {
  .accordion-item {
    background-color: transparent;
    border: none;
    &:not(:last-child) {
      border-bottom: $border--default;
    }
  }
  .accordion-body {
    padding: 1rem 0;
  }
  .accordion-button {
    padding: 1rem 0;
    background-color: transparent;
  }
}
