// Imports
@import "variables";
@import "./bootstrap/scss/variables";

// Header
.sms-header {
  background-color: $color-bg-dog;
  font-size: .875rem;
  min-height: $sms-header-min-height;
  @include media-breakpoint-up(lg) {
    min-height: $sms-header-min-height--lg;
  }
  .sms-logo-shield {
    width: 30px;
    height: 30px;
  }
  .sms-logo-text {
    display: inline;
    color: $white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.3rem;
    span {
      text-decoration: none;
    }
  }
  .navbar-nav {
    border-top: $border--default;
    @include media-breakpoint-up(lg) {
      border-top: none;
    }
  }
  .nav-item {
    display: flex;
    align-items: center;
    min-height: 47px;
    @include media-breakpoint-up(lg) {
      margin-right: .5rem;
    }
    .nav-link, &.nav-link {
      cursor: pointer;
      background-color: transparent;
      display: flex;
      align-items: center;
      color: $primary;
      padding: .4rem .4rem;
      &.active {
        color: $primary--lighter;
      }
      &:hover, &:focus {
        color: $primary--lighter;
      }
      @include media-breakpoint-up(lg) {
        padding: .2rem .4rem;
      }
      @include media-breakpoint-up(lg) {
        border-left: 1px solid $border-color;
        &.active {
          border-left: 1px solid;
        }
      }
      // Icons
      svg {
        width: 24px;
        margin-right: .5rem;
      }
    }
    .sms-nav-link--text {
      display: inline-block;
      margin-top: 2px;
    }
    .avatar-image {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 25px;
    }
  }
}

.nav-link {
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  color: $primary;
  padding: .4rem .4rem;
  &.active {
    color: $primary--lighter;
  }
  &:hover, &:focus {
    color: $primary--lighter;
  }
  // Icons
  svg {
    width: 24px;
    margin-right: .5rem;
  }
}

.sms-hero-header {
  background: center / cover no-repeat url("../images/heroimage.jpg");
}

// Content
.main-container {
  // header - 90px - footer 170px;
  min-height: calc(100vh - 260px);
  h1, .h1 {
    margin-bottom: 3rem;
    @include media-breakpoint-up(sm) {
      margin-bottom: 1rem;
    }
  }
  .main-col {
    @extend .p-3, .p-sm-5;
  }
}

img {
  border-radius: $border-radius--md;
}

// Footer
footer {
  min-height: 170px;
}

.sms-icon--text {
  width: 18px;
  margin-right: .25rem;
}

.sms-icon--hamburger {
  width: 24px;
  &:hover, &:focus {
    opacity: $standard-opacity;
  }
}

.sms-icon--large {
  width: 55px;
}

// Dashboard
.sms-form-col {
  @extend .col-12, .col-md-6, .mb-5;
}

.sms-form {
  @extend .p-0, .p-sm-5, .h-100;
  border-radius: $border-radius--lg;
  background-color: transparent;
  @include media-breakpoint-up(sm) {
    background-color: $color-bg-horse;
  }
  .form-control {
    border-bottom: 3px solid $gray-600;
    border-radius: 0;
    &:focus {
      border-bottom: 3px solid $primary;
    }
    &.success {
      border-bottom: 3px solid $success;
    }
    &.danger {
      border-bottom: 6px solid $danger;
    }
  }
  h2 {
    @extend .border-bottom, .pb-2, .mb-4;
  }
  .form-label {
    color: $white--darker;
    font-weight: 300;
  }
}

.dashboard-card {
  @extend .p-3, .h-100;
  background-color: $color-bg-horse;
  border-radius: $border-radius--lg;
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    color: $primary;
  }
  p {
    font-size: .875rem;
  }

  .list-group-item {
    color: $white--darker;
    &:nth-child(odd) {
      background-color: $color-bg-elephant;
    }
    &:nth-child(even) {
      background-color: $color-bg-horse;
    }
  }
}

.dashboard-sidebar {
  height: 100vh;
  width: 250px;
  background-color: $color-bg-whale;
  padding: 0;
  .sidebar-label {
    @extend .sidebar-x-padding;
    text-transform: uppercase;
    font-weight: 300;
    font-size: $font-size-sm;
    opacity: $standard-opacity;
    margin-bottom: .5rem;
  }
  .nav-link {
    @extend .sidebar-x-padding, .fs-smaller;
    &:hover, &:focus {
      background-color: lighten($color-bg-whale, 3%);
    }
    &.primary {
      color: $primary;
      &:hover, &:focus {
        color: $primary--lighter;
      }
    }
    &.secondary {
      color: $secondary;
      &:hover, &:focus {
        color: $secondary--lighter;
      }
    }
    &.success {
      color: $success;
      &:hover, &:focus {
        color: $success--lighter;
      }
    }
    &.warning {
      color: $warning;
      &:hover, &:focus {
        color: $warning--lighter;
      }
    }
    &.info {
      color: $info;
      &:hover, &:focus {
        color: $info--lighter;
      }
    }
    &.active.primary {
      background-color: $primary--darker;
      color: $primary--lighter;
    }
    &.active.secondary {
      background-color: $secondary--darker;
      color: $secondary--lighter;
    }
    &.active.success {
      background-color: $success--darker;
      color: $success--lighter;
    }
    &.active.warning {
      background-color: $warning--darker;
      color: $warning--lighter;
    }
    &.active.info {
      background-color: $info--darker;
      color: $info--lighter;
    }
    svg {
      width: 16px;
      margin-right: 1rem;
    }
  }
}

.offcanvas {
  background-color: $color-bg-whale;
  &.offcanvas-start {
    top: $sms-header-min-height;
    @include media-breakpoint-up(lg) {
      top: $sms-header-min-height--lg;
    }
  }
  .offcanvas-body {
    padding: 0;
  }
}

// Buttons
.btn {
  border-radius: $border-radius--sm;
  &.btn-cta {
    min-width: 50%;
    padding: 1rem 3rem;
    border-radius: $border-radius--lg;
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .sms-icon {
      width: 2rem;
      @extend .me-2;
    }
  }
}
