@import "variables";
// Header
.sms-header {
  background-color: $color-bg-whale;
  font-size: .875rem;
  min-height: $sms-header-min-height;
  @include media-breakpoint-up(lg) {
    min-height: $sms-header-min-height--lg;
  }
  .sms-logo-text {
    display: inline;
    color: $white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.2rem;
    span {
      text-decoration: none;
    }
  }
  .navbar-nav {
    border-top: $border--default;
    @include media-breakpoint-up(lg) {
      border-top: none;
    }
    .dropdown-menu {
      font-size: .875rem;
      border-radius: 0;
      border: none;
    }
  }
  .nav-item {
    display: flex;
    align-items: center;
    min-height: 47px;
    @include media-breakpoint-up(lg) {
      margin-right: .5rem;
    }
    .nav-link, &.nav-link {
      cursor: pointer;
      background-color: transparent;
      display: flex;
      align-items: center;
      color: $primary;
      padding: .4rem .4rem;
      &.active {
        color: $primary--lighter;
      }
      &:hover, &:focus {
        color: $primary--lighter;
      }
      &:not(.nav-link--dropdown) {
        @include media-breakpoint-up(lg) {
          border-left: 1px solid $border-color;
          &.active {
            border-left: 1px solid;
          }
        }
      }
      // Icons
      svg {
        width: 24px;
        margin-right: .5rem;
      }
    }
    .sms-nav-link--text {
      display: inline-block;
      margin-top: 2px;
    }
    .avatar-image {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 25px;
    }
  }
}
// SMS logo out of header
.sms-logo-shield {
  width: 60px;
  height: 60px;
}
.sms-logo-text {
  display: inline;
  color: $white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  @include media-breakpoint-up(sm) {
    font-size: 1.6rem;
  }
}