// Imports
@import "variables";

// Misc.
.hocus-standard {
  transition: all .2s ease;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    opacity: 80%;
  }
  cursor: pointer;
}

.grayscale-80 {
  filter: grayscale(80%);
}

a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

input:autofill {
  background: #fff;
}

body {
  letter-spacing: .02em;
}

footer {
  min-height: 170px;
}

input {
  filter: none;
}

// Borders
.border-sm-none {
  @include media-breakpoint-up(sm) {
    border: none !important;
  }
}

.border-md-none {
  @include media-breakpoint-up(md) {
    border: none !important;
  }
}

.border-lg-none {
  @include media-breakpoint-up(lg) {
    border: none !important;
  }
}

.border-xl-none {
  @include media-breakpoint-up(xl) {
    border: none !important;
  }
}

.border-sm-end {
  @include media-breakpoint-up(sm) {
    border-right: $border--default !important;
  }
}

.border-md-end {
  @include media-breakpoint-up(md) {
    border-right: $border--default !important;
  }
}

.border-lg-end {
  @include media-breakpoint-up(lg) {
    border-right: $border--default !important;
  }
}

.border-xl-end {
  @include media-breakpoint-up(xl) {
    border-right: $border--default !important;
  }
}

.border-sm-start {
  @include media-breakpoint-up(sm) {
    border-left: $border--default !important;
  }
}

.border-md-start {
  @include media-breakpoint-up(md) {
    border-left: $border--default !important;
  }
}

.border-lg-start {
  @include media-breakpoint-up(lg) {
    border-left: $border--default !important;
  }
}

.border-xl-start {
  @include media-breakpoint-up(xl) {
    border-left: $border--default !important;
  }
}

// Grayscale
.grayscale-100 {
  filter: grayscale(100%);
}
.grayscale-90 {
  filter: grayscale(90%);
}
.grayscale-80 {
  filter: grayscale(80%);
}
.grayscale-60 {
  filter: grayscale(60%);
}
.grayscale-40 {
  filter: grayscale(40%);
}
.grayscale-20 {
  filter: grayscale(20%);
}
