// Imports
@import "variables";

// Misc.
.hocus-standard {
  transition: all .2s ease;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    opacity: 90%;
  }
}

input:autofill {
  background: #fff;
}

body {
  letter-spacing: .02em;
}

footer {
  min-height: 170px;
}

input {
  filter: none;
}

img {
  border-radius: $border-radius--md;
}

// Borders
.border-sm-none {
  @include media-breakpoint-up(sm) {
    border: none !important;
  }
}

.border-md-none {
  @include media-breakpoint-up(md) {
    border: none !important;
  }
}

.border-lg-none {
  @include media-breakpoint-up(lg) {
    border: none !important;
  }
}

.border-xl-none {
  @include media-breakpoint-up(xl) {
    border: none !important;
  }
}

.border-sm-end {
  @include media-breakpoint-up(sm) {
    border-right: $border--default !important;
  }
}

.border-md-end {
  @include media-breakpoint-up(md) {
    border-right: $border--default !important;
  }
}

.border-lg-end {
  @include media-breakpoint-up(lg) {
    border-right: $border--default !important;
  }
}

.border-xl-end {
  @include media-breakpoint-up(xl) {
    border-right: $border--default !important;
  }
}

.border-sm-start {
  @include media-breakpoint-up(sm) {
    border-left: $border--default !important;
  }
}

.border-md-start {
  @include media-breakpoint-up(md) {
    border-left: $border--default !important;
  }
}

.border-lg-start {
  @include media-breakpoint-up(lg) {
    border-left: $border--default !important;
  }
}

.border-xl-start {
  @include media-breakpoint-up(xl) {
    border-left: $border--default !important;
  }
}

// Spacing

.sidebar-x-padding {
  @include media-breakpoint-up(sm) {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  @include media-breakpoint-only(md) {
    padding: .5rem;
  }
}
