// Imports
@import "variables";

// Icons
.sms-icon--text-md {
  width: 18px;
  margin-right: .25rem;
}

.sms-icon--text-lg {
  width: 24px;
  margin-right: .25rem;
}
.sms-icon--text-xl {
  width: 42px;
  margin-right: .5rem;
}

.sms-icon--hovering {
  width: 24px;
  &:hover, &:focus {
    opacity: $standard-opacity;
  }
}

.sms-icon--medium {
  width: 35px;
}

.sms-icon--large {
  width: 55px;
}
