// Imports
@import "variables";

.sidebar-btn {
  position: relative;
  z-index: 2000;
  @extend .btn, .btn-sm, .btn-primary, .sms-icon-btn, .rounded-0, .rounded-end, .mb-3, .mt-3, .ms-0, .p-2, .text-start;
  &.open {
    @extend .btn-danger;
  }
}

.dashboard-sidebar {
  min-height: $main-content-min-height;
  width: 100px;
  @include media-breakpoint-up(md) {
    width: 150px;
  }
  @include media-breakpoint-up(lg) {
    width: 250px;
  }
  background-color: $color-bg-whale;
  padding: 0;
  .sidebar-label {
    padding: .5rem;
    margin-bottom: .2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .875rem;
    text-align: center;
    @include media-breakpoint-up(lg) {
      font-size: 1rem;
      text-align: left;
      padding-left: 2rem;
      padding-right: 1rem;
    }
  }
  .sidebar-navlink-text {
    text-align: center;
    font-size: .775rem;
    @include media-breakpoint-up(lg) {
      font-size: .885rem;
      text-align: left;
    }
  }
  .nav-link {
    background-color: $color-bg-whale--light;
    @extend .sidebar-x-padding, .fs-small;
    min-height: 80px;
    @include media-breakpoint-up(lg) {
      min-height: 50px;
    }
    border-bottom: $border--vague;
    &:first-of-type {
      border-top: $border--vague;
    }
    &:hover, &:focus {
      background-color: $border-color--vague;
    }
    &.primary {
      color: $primary;
      &:hover, &:focus {
        color: $primary--lighter;
      }
    }
    &.danger {
      color: $danger;
      &:hover, &:focus {
        color: $danger--lighter;
      }
    }
    &.secondary {
      color: $secondary;
      &:hover, &:focus {
        color: $secondary--lighter;
      }
    }
    &.success {
      color: $success;
      &:hover, &:focus {
        color: $success--lighter;
      }
    }
    &.warning {
      color: $warning;
      &:hover, &:focus {
        color: $warning--lighter;
      }
    }
    &.info {
      color: $info;
      &:hover, &:focus {
        color: $info--lighter;
      }
    }
    &.active.primary {
      background-color: $primary--darker;
      color: $primary--lighter;
    }
    &.active.danger {
      background-color: $danger--darker;
      color: $danger--lighter;
    }
    &.active.secondary {
      background-color: $secondary--darker;
      color: $secondary--lighter;
    }
    &.active.success {
      background-color: $success--darker;
      color: $success--lighter;
    }
    &.active.warning {
      background-color: $warning--darker;
      color: $warning--lighter;
    }
    &.active.info {
      background-color: $info--darker;
      color: $info--lighter;
    }
    svg {
      width: 22px;
      margin-right: 0;
      @include media-breakpoint-up(lg) {
        margin-right: 1rem;
      }
    }
  }
}

.offcanvas {
  background-color: $color-bg-whale;
  .offcanvas-body {
    padding-right: 0;
    padding-left: 0;
    padding-top: 110px;
  }
}
.offcanvas-backdrop {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
