// Misc
$standard-opacity: .85;
$information-message-box-shadow: 0 0 80px 20px #000;

// Colors
$primary: #41bee0;
$secondary: #ded54c;
$success: #33cc99;
$info: #e3af9b;
$warning: #f797d2;
$danger: #ed5353;
$grade: #bc29a6;
$format: #f09f59;
$country: #7ad145;
$publisher: #bc84f5;
$title: #ccff66;
$issue: #ede798;
$marvelklubben: #ed1d24;
$white: #fff;
$white--darker: #c0c7cf;
$color-white--darker--trans: rgba(192, 199, 207, .3);
$black: #000;
$black--lighter: #444;
$black--lightest: #999;

// Custom colors
$amount-less--lg: -80%;
$amount-less--sm: -60%;
$amount-more--md: 70%;
$primary--darker: scale-color($primary, $lightness: $amount-less--lg);
$primary--dark: scale-color($primary, $lightness: $amount-less--sm);
$secondary--darker: scale-color($secondary, $lightness: $amount-less--lg);
$secondary--dark: scale-color($secondary, $lightness: $amount-less--sm);
$success--darker: scale-color($success, $lightness: $amount-less--lg);
$success--dark: scale-color($success, $lightness: $amount-less--sm);
$info--darker: scale-color($info, $lightness: $amount-less--lg);
$info--dark: scale-color($info, $lightness: $amount-less--sm);
$warning--darker: scale-color($warning, $lightness: $amount-less--lg);
$danger--darker: scale-color($danger, $lightness: $amount-less--lg);

$primary--lighter: scale-color($primary, $lightness: $amount-more--md);
$secondary--lighter: scale-color($secondary, $lightness: $amount-more--md);
$success--lighter: scale-color($success, $lightness: $amount-more--md);
$info--lighter: scale-color($info, $lightness: $amount-more--md);
$warning--lighter: scale-color($warning, $lightness: $amount-more--md);
$danger--lighter: scale-color($danger, $lightness: $amount-more--md);

$color-bg-whale: scale-color($primary--darker, $lightness: $amount-less--sm, $saturation: $amount-less--lg);
$color-bg-whale--lighter: scale-color($color-bg-whale, $lightness: 10%);
$color-bg-whale--light: scale-color($color-bg-whale, $lightness: 5%);
$color-bg-elephant: scale-color($color-bg-whale, $lightness: 5%);
$color-bg-horse: scale-color($color-bg-whale, $lightness: 10%);
$color-bg-dog: scale-color($color-bg-whale, $lightness: 15%);
$color-bg-whale--trans: rgba(28, 26, 27, .9);
$color-bg-elephant--trans: rgba(29, 31, 47, .8);
$color-bg-horse--trans: rgba(35, 37, 54, .8);
$color-bg-dog--trans: rgba(39, 41, 59, .8);

// BOOTSTRAP OVERRIDES
$btn-close-opacity: 1;
$btn-close-hover-opacity: $standard-opacity;
$btn-close-focus-opacity: $standard-opacity;
$btn-close-width: 1.3rem;
$btn-close-color: $danger;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M15.707 15.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 010 1.414zm-6 0a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L5.414 10l4.293 4.293a1 1 0 010 1.414z' /></svg>") !default;
$btn-padding-y-sm: .35rem;
$dropdown-bg: $color-bg-dog;
$dropdown-link-hover-bg: $color-bg-horse;
$dropdown-link-active-bg: $color-bg-horse;
// Icon svg from Fontawesome.
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='#{$white}'><path d='M199 401c9.4 9.4 24.6 9.4 33.9 0L425 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-175 175L41 175c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9L199 401z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='#{$primary}'><path d='M199 401c9.4 9.4 24.6 9.4 33.9 0L425 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-175 175L41 175c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9L199 401z'/></svg>");
$accordion-border-color: $primary--lighter;
$tooltip-color: $black;
$tooltip-bg: $info;
$tooltip-opacity: 1;
$headings-margin-bottom: .5rem;
$headings-color: $secondary--lighter;
$progress-bar-color: $black;
$progress-bg: $color-white--darker--trans;
$progress-height: 1.5rem;
$grid-gutter-width: 2.5rem;
$table-bg: $color-bg-horse;
$table-accent-bg: $color-bg-elephant;
$table-cell-padding-y-sm: .35rem;
$table-cell-padding-x-sm: .35rem;


$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $white,
        "dark":       $black,
        "format":     $format,
        "country":    $country,
        "publisher":  $publisher,
        "title":      $title,
        "grade":      $grade
);

// Typography
$font-size-base: 1rem;
$font-size-small: $font-size-base * 0.875;
$h1-font-size: $font-size-base * 1.85;
$h2-font-size: $font-size-base * 1.45;
$h3-font-size: $font-size-base * 1.2;
$h4-font-size: $font-size-base * 1.1;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

// Global
$body-bg: $color-bg-elephant;
$body-color: $white;
$font-family-sans-serif: "Nunito Sans", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight: 700;
$font-weight-normal: 400;
$font-weight-bold: 600;
$text-muted: $white--darker;
$btn-disabled-opacity: 0.45;
$sms-header-min-height: 60px;
$sms-header-min-height--lg: 65px;
$breadcrumb-active-color: $primary--lighter;
$main-content-min-height: 100vh;

// Form and input
$input-placeholder-color: $black--lighter;
$input-color: $black;
$input-bg: $white;
$form-file-button-color: $black;
$input-group-addon-bg: $primary;
$form-text-color: $white--darker;
$input-border-width: 0;

$enable-shadows: false;
$enable-gradients: false;

// Borders
$border-color: $black--lighter;
$border-color--vague: $color-bg-whale--lighter;
$border-color--strong: $primary;
$border--default: 1px solid $border-color;
$border--default-md: 3px solid $border-color;
$border--primary: 1px solid $primary;
$border--primary-md: 3px solid $primary;
$border--secondary: 1px solid $secondary;
$border--secondary-md: 3px solid $secondary;
$border--vague: 1px solid $border-color--vague;
$border--vague-md: 3px solid $border-color--vague;
$border--success: 1px solid $success;
$border--success-md: 3px solid $success;
$border-radius: 8px;
$border-radius-sm: 4px;
$border-radius-lg: 16px;


// List group
$list-group-bg: transparent;
$list-group-color: $body-color;
$list-group-border-color: $primary--dark;

// Yet Another React Lightbox
$yarl__color_backdrop: $color-bg-whale__trans;
$yarl__color_button: $danger;
$yarl__color_button_active: $danger;
