// Misc
$standard-opacity: .85;
$information-message-box-shadow: 0 0 80px 20px #000;

// Colors
$primary: #41bee0;
$secondary: #c4a82b;
$success: #7ff268;
$info: #f3f00f;
$warning: #fbbd4a;
$danger: #fa5a5a;
$white: #fff;
$white--darker: #c0c7cf;
$black: #000;
$black--lighter: #444;
$black--lightest: #999;

// Custom colors
$primary--darker: scale-color($primary, $lightness: -90%);
$primary--dark: scale-color($primary, $lightness: -70%);
$secondary--darker: scale-color($secondary, $lightness: -90%);
$secondary--dark: scale-color($secondary, $lightness: -70%);
$success--darker: scale-color($success, $lightness: -90%);
$success--dark: scale-color($success, $lightness: -70%);
$info--darker: scale-color($info, $lightness: -90%);
$info--dark: scale-color($info, $lightness: -70%);
$warning--darker: scale-color($warning, $lightness: -90%);
$danger--darker: scale-color($danger, $lightness: -90%);

$primary--lighter: scale-color($primary, $lightness: 50%);
$secondary--lighter: scale-color($secondary, $lightness: 50%);
$success--lighter: scale-color($success, $lightness: 50%);
$info--lighter: scale-color($info, $lightness: 50%);
$warning--lighter: scale-color($warning, $lightness: 50%);
$danger--lighter: scale-color($danger, $lightness: 50%);

$color-bg-whale: scale-color($primary--darker, $lightness: -60%, $saturation: -80%);
$color-bg-whale--lighter: scale-color($color-bg-whale, $lightness: 7%);
$color-bg-whale--light: scale-color($color-bg-whale, $lightness: 3%);
$color-bg-elephant: scale-color($color-bg-whale, $lightness: 3%);
$color-bg-horse: scale-color($color-bg-whale, $lightness: 5%);
$color-bg-dog: scale-color($color-bg-whale, $lightness: 10%);
$color-bg-elephant--trans: rgba(29, 31, 47, .8);
$color-bg-horse--trans: rgba(35, 37, 54, .8);
$color-bg-dog--trans: rgba(39, 41, 59, .8);

// BOOTSTRAP OVERRIDES
$btn-close-opacity: 1;
$btn-close-hover-opacity: $standard-opacity;
$btn-close-focus-opacity: $standard-opacity;
$btn-close-width: 1.3rem;
$btn-close-color: $danger;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M15.707 15.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 010 1.414zm-6 0a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L5.414 10l4.293 4.293a1 1 0 010 1.414z' /></svg>") !default;
$dropdown-bg: $color-bg-elephant;
$dropdown-link-hover-bg: $color-bg-horse;
$dropdown-link-active-bg: $color-bg-horse;

// Typography
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.60;
$h3-font-size: $font-size-base * 1.40;
$h4-font-size: $font-size-base * 1.30;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base;

// Global
$body-bg: $color-bg-elephant;
$body-color: $white;
$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight: 500;
$font-weight-normal: 400;
$font-weight-bold: 600;
$text-muted: $white--darker;
$btn-disabled-opacity: 0.45;
$sms-header-min-height: 60px;
$sms-header-min-height--lg: 65px;
$breadcrumb-active-color: $primary--lighter;
$main-content-min-height: calc(100vh - 250px);

// Form and input
$input-placeholder-color: $black--lighter;
$input-color: $black;
$input-bg: $white;
$form-file-button-color: $black;
$input-group-addon-bg: $primary;
$form-text-color: $white--darker;
$input-border-width: 0;

$enable-shadows: true;
$enable-gradients: false;

// Borders
$border-color: $black--lighter;
$border-color--vague: $color-bg-whale--lighter;
$border-color--strong: $primary;
$border--default: 1px solid $border-color;
$border--strong: 1px solid $border-color--strong;
$border--vague: 1px solid $border-color--vague;
$border-radius--sm: 4px;
$border-radius--md: 8px;
$border-radius--lg: 16px;

// List group
$list-group-bg: transparent;
$list-group-color: $body-color;
$list-group-border-color: $primary--dark;


