// Custom colors
$color-bg-whale: #0e101a;
$color-bg-elephant: #1d1f2f;
$color-bg-horse: #232536;
$color-bg-dog: #27293b;
$color-bg-elephant--trans: rgba(29, 31, 47, .8);
$color-bg-horse--trans: rgba(35, 37, 54, .8);
$color-bg-dog--trans: rgba(39, 41, 59, .8);

$primary--darker: #0e3b48;
$secondary--darker: #442359;
$success--darker: #1b4214;
$info--darker: #4d4c08;
$warning--darker: #442f08;
$danger--darker: #4f1111;

$primary--lighter: #a8e6f8;
$secondary--lighter: #e9d1f8;
$success--lighter: #ddf3d8;
$info--lighter: #f6f594;
$warning--lighter: #f9d590;
$danger--lighter: #f7e7e7;

// Misc
$standard-opacity: .85;

// BOOTSTRAP OVERRIDES
// Colors
$primary: #66dafa;
$secondary: #ddb1f8;
$success: #7ff268;
$info: #f3f00f;
$warning: #fbbd4a;
$danger: #eea9a9;
$white: #fff;
$white--darker: #c0c7cf;
$black: #000;
$black--lighter: #444;
$black--lightest: #999;

$btn-close-opacity: 1;
$btn-close-hover-opacity: $standard-opacity;
$btn-close-focus-opacity: $standard-opacity;
$btn-close-width: 1.3rem;
$btn-close-color: $danger;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z' /></svg>") !default;

// Typography
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.60;
$h3-font-size: $font-size-base * 1.40;
$h4-font-size: $font-size-base * 1.30;
$h5-font-size: $font-size-base * 1.15;
$h6-font-size: $font-size-base;

// Global
$body-bg: $color-bg-elephant;
$body-color: $white;
$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-weight: 600;
$font-weight-normal: 400;
$font-weight-bold: 600;
$text-muted: $white--darker;
$btn-disabled-opacity: 0.45;
$sms-header-min-height: 60px;
$sms-header-min-height--lg: 65px;

// Form and input
$input-placeholder-color: $black--lighter;
$input-color: $black;
$input-bg: $white;
$form-file-button-color: $black;
$input-group-addon-bg: $primary;
$form-text-color: $white--darker;
$input-border-width: 0;

$enable-shadows: true;
$enable-gradients: false;

// Borders
$border-color: $black--lighter;
$border--default: 1px solid $border-color;
$border-radius--sm: 4px;
$border-radius--md: 8px;
$border-radius--lg: 16px;

// List group
$list-group-bg: transparent;
$list-group-color: $body-color;
$list-group-border-color: $border-color;
